ICECAST_SOURCE_PASSWORD=hackme
ICECAST_ADMIN_PASSWORD=hackme
ICECAST_RELAY_PASSWORD=hackme
ICECAST_ADMIN_USERNAME=admin
ICECAST_ADMIN_EMAIL=admin@example.net
ICECAST_LOCATION=Earth
ICECAST_HOSTNAME=example.net
ICECAST_MAX_CLIENTS=100
ICECAST_MAX_SOURCES=1
